<main style="width: 400px; margin: 0 auto">
    <p>
        <span *ifViewportSize="'small'"> small </span>
        <span *ifViewportSize="'medium'"> medium </span>
        <span *ifViewportSize="'large'"> large </span>
    </p>
    <br>
    <button (click)="removeTab()">
        Remove tab
    </button>
    <button (click)="addTab()">
        Add tab
    </button>

    <vim-tabs>
        <tab-item>
            <tab-title>
                Title
            </tab-title>
            <tab-content>
                Content
            </tab-content>
        </tab-item>
        <tab-item>
            <tab-title>
                Title 2
            </tab-title>
            <tab-content>
                Content 2
            </tab-content>
        </tab-item>
        <tab-item *ngFor="let tab of tabs">
            <tab-title>
                <div [innerHtml]="tab.title"></div>
            </tab-title>
            <tab-content>
                <div [innerHtml]="tab.content"></div>
            </tab-content>
        </tab-item>
    </vim-tabs>

</main>