/* You can add global styles to this file, and also import other style files */
vim-tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
tab-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.125);
}
tab-title {
  & > div {
    cursor: pointer;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
}
tab-content > * {
  flex: 1 1 auto;
  padding: 1.25rem;
}
